<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Admin Page</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark d-flex justify-content-between mb-3">
    <span>
    <span class="navbar-brand font-weight-bold" th:text="${user.email}"></span>
    <span class="navbar-brand"
          th:text="'with roles: ' + ${user.printRoles()}"></span>
    </span>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col bg-white">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a href="/admin" class="nav-link active">Admin</a>
                </li>
                <li class="nav-item">
                    <a href="/user" class="nav-link">User</a>
                </li>
            </ul>
        </div>
        <!--           Пустые вкалдки-->
        <div class="col-10 bg-light">
            <div><h2>Admin panel</h2></div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="admin-tab" data-toggle="tab" href="#admin" role="tab"
                       aria-controls="admin" aria-selected="true">User table</a>
                </li>
                <li class="nav-item newUser">
                    <a class="nav-link" id="new-user" data-toggle="tab" href="#new" role="tab"
                       aria-controls="new" aria-selected="false">New User</a>
                </li>
            </ul>

            <div class="tab-content">
                <!--                Вкладка All users-->
                <div class="tab-pane fade show active" id="admin" role="tabpanel" aria-labelledby="admin-tab">
                    <div><h5 class="card-header">All users</h5></div>
                    <table class="table table-striped" id="tableAdmin">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                            <th scope="col">Edit</th>
                            <th scope="col">Delete</th>
                        </tr>
                        </thead>
                        <tbody id="tableAllUsers">

                        <!--                        тут js-->

                        </tbody>
                    </table>

                    <!--                            Заполнение модального окна Edit user-->
                    <div class="modal" id="editModal" aria-hidden="true"
                         role="dialog" aria-labelledby="editModalLabel">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Edit user</h5>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="editModalBody">
                                    <div class="text-center">
                                        <div class="row justify-content-center align-items-center">
                                            <form class="text-center" method="post" id="editUserForm">
                                                <div class="form-group font-weight-bold">
                                                    <label for="id">ID</label>
                                                    <input type="number" class="form-control" id="editId"
                                                           name="id" readonly>
                                                    <label for="editName">First name</label>
                                                    <input type="text" class="form-control" id="editName"
                                                           name="username">
                                                    <label for="editLastName">Last name</label>
                                                    <input type="text" class="form-control" id="editLastName"
                                                           name="lastName">
                                                    <label for="editPhoneNumber">Phone number</label>
                                                    <input type="text" class="form-control" id="editPhoneNumber"
                                                           name="phoneNumber">
                                                    <label for="editEmail">Email</label>
                                                    <input type="email" class="form-control" id="editEmail"
                                                           name="email">
                                                    <label for="editPassword">Password</label>
                                                    <input type="password" class="form-control"
                                                           id="editPassword" name="password" autocomplete="on">

                                                    <label for="editRole">Role</label>
                                                    <select multiple class="form-select w-100" size="2"
                                                            id="editRole" name="editRoles">
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                    <button type="submit" id="editButton" class="btn btn-primary">Edit</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--                            Заполнение модального окна Delete user-->
                    <div class="modal fade" id="deleteModal" aria-hidden="true"
                         role="dialog" aria-labelledby="deleteModalLabel">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Delete user</h5>
                                    <button type="button" class="close" data-dismiss="modal">
                                        &times;
                                    </button>
                                </div>
                                <div class="modal-body" id="deleteModalBody">
                                    <div style="text-align: center;">
                                        <div class="row justify-content-center align-items-center">
                                            <form class="text-center" method="post" id="delUserForm">
                                                <!--                                                  th:id="${'deleteForm' + user.id}"-->
                                                <div class="form-group font-weight-bold">
                                                    <label for="delId">ID</label>
                                                    <input type="number" class="form-control" id="delId"
                                                           name="id" readonly>
                                                    <label for="delName">First name</label>
                                                    <input type="text" class="form-control" id="delName"
                                                           name="username" readonly>
                                                    <label for="delLastName">Last name</label>
                                                    <input type="text" class="form-control" id="delLastName"
                                                           name="lastName" readonly>
                                                    <label for="delPhoneNumber">Phone number</label>
                                                    <input type="text" class="form-control" id="delPhoneNumber"
                                                           name="phoneNumber" readonly>
                                                    <label for="delEmail">Email</label>
                                                    <input type="email" class="form-control" id="delEmail"
                                                           name="email" readonly>
                                                    <label for="delPassword">Password</label>
                                                    <input type="password" class="form-control" id="delPassword"
                                                           name="password" autocomplete="on" readonly>

                                                    <label for="delRole">Role</label>
                                                    <select class="form-select w-100" size="2" id="delRole"
                                                            name="roles" disabled>
                                                    </select>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

                                    <button type="submit" id="deleteButton" class="btn btn-danger">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                                            </tr>-->
                    <!--                                            </tbody>-->
                    <!--                                        </table>-->
                </div>

                <!--               Вкладка Add new user-->
                <div class="tab-pane fade" id="new" role="tabpanel" aria-labelledby="new-tab">
                    <h5 class="card-header">Add new user</h5>
                    <div class="row justify-content-center align-items-center">
                        <form class="text-center" method="post" id="addNewUserForm">
                            <div class="form-group font-weight-bold">
                                <label for="name">First name</label>
                                <input type="text" class="form-control" id="name" name="username"
                                       placeholder="First name">
                                <label for="lastName">Last name</label>
                                <input type="text" class="form-control" id="lastName" name="lastName"
                                       placeholder="Last name">
                                <label for="phoneNumber">Phone number</label>
                                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber"
                                       placeholder="Phone number">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" name="password"
                                       autocomplete="on" placeholder="Password">

                                <label for="addRole">Role</label>
                                <select multiple class="form-select w-100" size="2" id="addRole" name="addRoles"></select>

                                <button type="button" id="addNewUserButton" class="btn btn-success">Add new user</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
<script src="/js/users.js"></script>
</body>
</html>