<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>User Page</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark d-flex justify-content-between mb-3">
    <span>
    <span class="navbar-brand font-weight-bold" th:text="${user.email}"></span>
    <span class="navbar-brand"
          th:text="'with roles: ' + ${user.printRoles()}"></span>
    </span>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 bg-white">
            <nav class="nav flex-column nav-pills">
                <a class="nav-link active" href="/user">User</a>
            </nav>
        </div>
        <div class="col-10 bg-light">
            <h2>User information-page</h2>
            </br>
            <h6>About user</h6>
            </br>
            <table class="table table-light table-striped">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${user.id}">ID</td>
                    <td th:text="${user.username}">NAME</td>
                    <td th:text="${user.lastName}">LAST_NAME</td>
                    <td th:text="${user.phoneNumber}">PHONE_NUMBER</td>
                    <td th:text="${user.email}">EMAIL</td>
                    <td th:text="${user.printRoles()}">ROLE</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
</body>
</html>